.node-red/flows_mvmaycon.json
[
  {
    "id": "2c35b89008465997",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "flow1",
    "type": "tab",
    "label": "PillMind Auth API",
    "disabled": false,
    "info": ""
  },
  {
    "id": "signup_http",
    "type": "http in",
    "z": "flow1",
    "name": "POST /api/auth/signup",
    "url": "/api/auth/signup",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 100,
    "wires": [["signup_validate"]]
  },
  {
    "id": "signup_validate",
    "type": "function",
    "z": "flow1",
    "name": "Validate Input",
    "func": "const { name, email, password } = msg.payload;\n\nif (!name || !email || !password) {\n    msg.statusCode = 400;\n    msg.payload = {\n        message: \"All fields are required\",\n        code: \"MISSING_FIELDS\"\n    };\n    return [null, msg];\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n    msg.statusCode = 400;\n    msg.payload = {\n        message: \"Invalid email format\",\n        code: \"INVALID_EMAIL\"\n    };\n    return [null, msg];\n}\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 100,
    "wires": [["signup_generate"], ["signup_response_error"]]
  },
  {
    "id": "signup_generate",
    "type": "function",
    "z": "flow1",
    "name": "Generate User",
    "func": "const { name, email } = msg.payload;\nconst userId = Date.now().toString() + Math.random().toString(36).substr(2, 9);\nconst token = Array(64).fill(0).map(() => \n    'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'[Math.floor(Math.random() * 62)]\n).join('');\n\nmsg.statusCode = 200;\nmsg.payload = {\n    user: { \n        id: userId, \n        name: name, \n        email: email \n    },\n    token: token\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 80,
    "wires": [["signup_response_success"]]
  },
  {
    "id": "signup_response_success",
    "type": "http response",
    "z": "flow1",
    "name": "Response 200",
    "statusCode": "",
    "headers": {},
    "x": 770,
    "y": 80,
    "wires": []
  },
  {
    "id": "signup_response_error",
    "type": "http response",
    "z": "flow1",
    "name": "Response 400",
    "statusCode": "",
    "headers": {},
    "x": 770,
    "y": 120,
    "wires": []
  },
  {
    "id": "signin_http",
    "type": "http in",
    "z": "flow1",
    "name": "POST /api/auth/signin",
    "url": "/api/auth/signin",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 250,
    "wires": [["signin_validate"]]
  },
  {
    "id": "signin_validate",
    "type": "function",
    "z": "flow1",
    "name": "Validate Credentials",
    "func": "const { email, password } = msg.payload;\n\nif (!email || !password) {\n    msg.statusCode = 400;\n    msg.payload = {\n        message: \"Email and password are required\",\n        code: \"MISSING_FIELDS\"\n    };\n    return [null, msg];\n}\n\nif (password.length < 6) {\n    msg.statusCode = 401;\n    msg.payload = {\n        message: \"Invalid credentials\",\n        code: \"INVALID_CREDENTIALS\"\n    };\n    return [null, msg];\n}\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 250,
    "wires": [["signin_generate"], ["signin_response_error"]]
  },
  {
    "id": "signin_generate",
    "type": "function",
    "z": "flow1",
    "name": "Generate Token",
    "func": "const { email } = msg.payload;\nconst userId = Date.now().toString() + Math.random().toString(36).substr(2, 9);\nconst token = Array(64).fill(0).map(() => \n    'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'[Math.floor(Math.random() * 62)]\n).join('');\n\nmsg.statusCode = 200;\nmsg.payload = {\n    user: { \n        id: userId, \n        name: \"Test User\", \n        email: email \n    },\n    token: token\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 230,
    "wires": [["signin_response_success"]]
  },
  {
    "id": "signin_response_success",
    "type": "http response",
    "z": "flow1",
    "name": "Response 200",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 230,
    "wires": []
  },
  {
    "id": "signin_response_error",
    "type": "http response",
    "z": "flow1",
    "name": "Response 401",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 270,
    "wires": []
  },
  {
    "id": "apple_http",
    "type": "http in",
    "z": "flow1",
    "name": "POST /api/auth/apple",
    "url": "/api/auth/apple",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 380,
    "wires": [["apple_generate"]]
  },
  {
    "id": "apple_generate",
    "type": "function",
    "z": "flow1",
    "name": "Mock Apple Login",
    "func": "// Simple mock for Apple sign-in\nconst userId = Date.now().toString() + Math.random().toString(36).substr(2, 9);\nconst token = Array(64).fill(0).map(() => \n    'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'[Math.floor(Math.random() * 62)]\n).join('');\n\nmsg.statusCode = 200;\nmsg.payload = {\n    user: {\n        id: userId,\n        name: 'Apple User',\n        email: 'apple.user@example.com'\n    },\n    token: token\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 380,
    "wires": [["apple_response_success"]]
  },
  {
    "id": "apple_response_success",
    "type": "http response",
    "z": "flow1",
    "name": "Response 200",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 380,
    "wires": []
  },
  {
    "id": "google_http",
    "type": "http in",
    "z": "flow1",
    "name": "POST /api/auth/google",
    "url": "/api/auth/google",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 450,
    "wires": [["google_generate"]]
  },
  {
    "id": "google_generate",
    "type": "function",
    "z": "flow1",
    "name": "Mock Google Login",
    "func": "// Simple mock for Google sign-in\nconst userId = Date.now().toString() + Math.random().toString(36).substr(2, 9);\nconst token = Array(64).fill(0).map(() => \n    'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'[Math.floor(Math.random() * 62)]\n).join('');\n\nmsg.statusCode = 200;\nmsg.payload = {\n    user: {\n        id: userId,\n        name: 'Google User',\n        email: 'google.user@example.com'\n    },\n    token: token\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 450,
    "wires": [["google_response_success"]]
  },
  {
    "id": "google_response_success",
    "type": "http response",
    "z": "flow1",
    "name": "Response 200",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 450,
    "wires": []
  }
]
